---
name: Build CI
on: [push]  # yamllint disable-line rule:truthy
jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - {
            name: "Windows MSVC",
            enabled: 1,
            os: windows-latest,
            deps: "vcpkg install liblo",
            config: "cmake -DWERROR=1 .",
            build: "cmake --build .",
            test: "ctest --output-on-failure"
          }
          - {
            name: "Ubuntu gcc",
            enabled: 0,
            os: ubuntu-latest,
            deps: "sudo apt-get install liblo-dev",
            config: "mkdir build && cd build && cmake -DWERROR=1 ..",
            build: "cd build && make",
            test: "cd build && ctest --output-on-failure"
          }
          - {
            name: "Ubuntu clang+lld",
            enabled: 0,
            os: ubuntu-latest,
            deps: "sudo apt-get install liblo-dev",
            config: "mkdir build && cd build &&
                    cmake
                    -DWERROR=1
                    -DCMAKE_C_COMPILER=clang
                    -DCMAKE_CXX_COMPILER=clang++
                    -DCMAKE_SHARED_LINKER_FLAGS='-fuse-ld=lld'
                    -DCMAKE_EXE_LINKER_FLAGS='-fuse-ld=lld'
                    ..",
            build: "cd build && make",
            test: "cd build && ctest --output-on-failure"
          }
          - {
            name: "Ubuntu mingw32",
            enabled: 0,
            os: ubuntu-latest,
            deps: "sudo apt-get install liblo-dev mingw-w64",
            config: "mkdir build && cd build &&
                    cmake
                    -DWERROR=1
                    CC=i686-w64-mingw32-gcc-win32
                    CXX=i686-w64-mingw32-g++-win32
                    ..",
            build: "cd build && make",
            test: "cd build && ctest --output-on-failure"
          }
          - {
            name: "Ubuntu mingw64",
            enabled: 0,
            os: ubuntu-latest,
            deps: "sudo apt-get install liblo-dev mingw-w64",
            config: "mkdir build && cd build &&
                    cmake
                    -DWERROR=1
                    CC=x86_64-w64-mingw32-gcc-win32
                    CXX=x86_64-w64-mingw32-g++-win32
                    ..",
            build: "cd build && make",
            test: "cd build && ctest --output-on-failure"
          }
          - {
            name: "macOS clang",
            enabled: 1,
            os: macos-latest,
            deps: "brew install liblo",
            config: "mkdir build && cd build && cmake -DWERROR=1 ..",
            build: "cd build && make",
            test: "cd build && ctest --output-on-failure"
          }
    steps:
      - uses: actions/checkout@v1
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
      - name: install_deps
        if: ${{ matrix.config.enabled == 1 }}
        run: ${{ matrix.config.deps }}
      - name: configure
        if: ${{ matrix.config.enabled == 1 }}
        run: ${{ matrix.config.config }}
      - name: make
        if: ${{ matrix.config.enabled == 1 }}
        run: ${{ matrix.config.build }}
      - name: make test
        if: ${{ matrix.config.enabled == 1 }}
        run: ${{ matrix.config.test }}
